* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

.dlmode .off,
.on {
  font-size: 40px;
}
.dlmode {
  position: absolute;
  top: -2px;
  left: 25px;
}
.dark {
  background-color: #000;
  color: #fff;
}
.dark .grouplist {
  box-shadow: 0px 4px 4px rgba(234, 225, 225, 0.25) !important;
}
.light {
  background-color: #fff;
  color: #000;
}

.dark h4 {
  color: #ced6e0 !important;
}
.dark h2 {
  color: #fff !important;
}
.dark h1 {
  color: #fff !important;
}
.dark .option {
  border: 2px solid rgba(254, 254, 255, 0.083) !important;
}
.dark .nameInput,
.emailInput,
.passwordInput,
.confirmPassInput {
  background-color: #fff;
  border-radius: 5px !important;
}

.dark .msg {
  color: #fff !important;
}

.dark .text {
  color: #fff !important;
}
.dark .grouplist .group_box {
  border-bottom: 1px solid rgba(242, 238, 238, 0.25) !important;
}

.dark .grouplist .group_box:last-child {
  border: none !important  ;
}
.text {
  color: #000;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 50px;
  width: 150px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0 !important;
}

.registration_part .box {
  display: flex;
  justify-content: right;
  margin-right: 40px;
}

.registration_part h1 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #11175d;
  margin-top: 5rem;
}

.registration_part p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #c3c5d7;
}

.registration_part .MuiFormHelperText-root {
  color: red;
  font-size: 14px;
}

.registration_part button {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.registration_part .msg {
  margin-top: 35px;
  font-weight: 400;
  font-size: 14px;
  color: #03014c;
}

.registration_part .loginOption {
  display: flex;
  flex-direction: row;
}

.registration_part .option {
  padding: 20px 40px;
  border: 1px solid rgb(3, 1, 76, 0.083);
  margin-right: 20px;
  border-radius: 9px;
  margin-top: 30px;
  font-family: sans-serif;
  position: relative;
  cursor: pointer;
}

/* .registration_part .option img {
  position: absolute;
  top: 17px;
  left: 10px;
} */

.registration_part .eye {
  position: relative;
  width: 365px;
}

.registration_part .eyeIcon {
  position: absolute;
  bottom: 20px;
  right: 5px;
}

.leftbar {
  /* width: 186px; */
  height: 800px;
  background-color: #5f35f5;
  margin: 35px 15px 15px 25px;
  /* margin: 35px 0 0 15px; */
  border-radius: 20px;
  text-align: center;
  margin-bottom: 5rem;
}

.leftbar h4 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
}

.leftbar .profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 38px;
}
.leftbar li {
  margin-top: 20px;
  /* width: 90%; */
  margin-left: auto;
  padding: 20px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.leftbar li:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background-color: #5f35f5;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  content: "";
}

.leftbar .homeIcon {
  font-size: 40px;
  color: #fff;
  margin-left: -20px;
}

.leftbar .active {
  background-color: #fff;
}

.leftbar .active .homeIcon {
  color: #5f35f5;
}

.search {
  margin-top: 35px;
  position: relative;
}

.search input {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 17px 78px;
  border: 0;
  box-sizing: border-box;
}

.search .searchIcons {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 23px;
  color: #000;
}

.search .menu {
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
  right: 23px;
  color: #5f35f5;
  font-size: 20px;
}

.grouplist {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 17px 78px;
  border: 0;
  box-sizing: border-box;
  margin-top: 43px;
  height: 415px;
  overflow-y: scroll;
}

.grouplist .group_box {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 13px;
}
.grouplist .group_box:last-child {
  border: 0;
}

.grouplist .group_box .img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.grouplist .group_box .name h3 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.grouplist .group_box .name h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(77, 77, 77, 0.75);
}

.grouplist .group_box .button button {
  font-family: "Nunito", sans-serif;
  background: #5f35f5;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  padding: 10px 23px;
  border: 0;
  cursor: pointer;
}

.grouplist h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
}

.friendlist {
  height: 100vh;
  padding: 17px 30px;
}

.friendlist .group_box .button {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.friendrequest {
  height: 380px;
}

.button .msg-icon {
  display: flex;
  align-items: center;
}

.chat {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 17px 78px;
  border: 0;
  box-sizing: border-box;
  margin-top: 43px;
  height: 100vh;
}

.chat .topArea {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 15px;
}

.chat .img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: red;
  margin-right: 33px;
  position: relative;
  filter: drop-shadow(0 0 0 0.35rem rgba(0, 0, 0, 0.464));
}

.chat .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat .topArea .info {
  display: flex;
  align-items: center;
  width: 90%;
}

.chat .identity h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.chat .identity p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.chat .img .roundImg {
  width: 15px;
  height: 15px;
  background-color: #00ff75;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  bottom: 4px;
  right: 0;
}

.chat .dots {
  font-size: 20px;
  width: 10%;
  color: #5f35f5;
  display: flex;
  align-items: center;
}
.dark .chat .chatMsg {
  color: #000;
}

.chat .chatMsg {
  display: flex;
  position: relative;
  margin-top: 50px;
}
.chat .chatMsg p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  padding: 13px 52px;
  border-radius: 10px;
}

.dark .date {
  color: rgba(215, 208, 208, 0.25) !important;
}

.chat .chatMsg .date {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: -40px;
}

.chat .chatArea {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 47px;
}

.chat .chatImg {
  padding: 10px;
  width: 200px;
}

.chat .chatMsg .chatImg img {
  width: 100%;
}

.nameInput,
.emailInput,
.passwordInput,
.confirmPassInput {
  width: 365px;
}

.regBtn {
  font-size: 15px !important;
  width: 368px;
  padding: 11px 0;
  border-radius: 86px;
  background: #5F35F5;
  color: #fff;
}

/*  Chat css */

.msgWrite{
  position: relative;
}

.msgWrite input{
  width: 88%;
  background: #f1f1f1;
  border: 0;
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
}

.msgWrite input::placeholder{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.msgWrite button{
  font-size: 18px;
  background: #5F35F5;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 15px;
}

.msgWrite .camera{
  position: absolute;
  font-size: 25px;
  right: 85px;
  top: 30%;
  cursor: pointer;
}






@media screen and (max-width: 1200px) {
  .registration_part h1 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 5rem;
  }  
  .registration_part p {
    font-size: 18px;
  }
  .registration_part .option {
    padding: 20px 40px;
    /* margin-right: 20px; */
    border-radius: 9px;
    margin-top: 10px;
  }
  .registration_part .loginOption {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .registration_part h1 {
    font-size: 15px;
    font-weight: 500;
  }
  .registration_part p {
    font-size: 13px;
  }
  .nameInput,
  .emailInput,
  .passwordInput,
  .confirmPassInput {
    width: 265px;
  }
  
.regBtn {
  width: 265px;
}

.registration_part .eye {
  width: 265px;
}
}
